        <footer>
          <div class="main-wrapper">
              <div class="onerow cf">
                <div class="cf">
                  <span>Yankee Blood Band<span class="sep">|</span>Official Site &copy; 2015<span class="sep">|</span></span>
                    <a href="https://www.facebook.com/yankeebloodband" title="Follow Us On Facebook" target="_blank" class="social">
                        <span class="fa-stack">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="https://instagram.com/yankeebloodband/" title="Follow Us On Instagram" target="_blank" class="social">
                        <span class="fa-stack">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="https://soundcloud.com/yankeebloodband/sets/honey-ep" target="_blank" title="Listen on Soundlcoud">
                        <span class="fa-stack">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-soundcloud fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="https://www.youtube.com/channel/UCR-oX6QzE-TRs6EOfOwzTBw" title="Find Us On YouTube" target="_blank" class="social">
                        <span class="fa-stack">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </div>
              </div>
          </div>
        </footer>
    </div> <!-- END MAIN -->
    <script src="assets/js/app.min.js?v={{version}}"></script>
    <script src="assets/js/bit/bit.min.js?v={{version}}"></script>
    {{#> scripts-block}}
        {{!-- Custom scripts per page can be added. --}}
    {{/scripts-block}}
</body>
</html>
